name: global
on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/global.yml'
      - '.pre-commit-config.yaml'
      - 'scripts/check_copyright_notice.py'
      - '**/*.go'
      - '!**/docs/**/*'
      - '!**/*.md'

# Declare default permissions as read only.
permissions: read-all

jobs:
  copyright:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout devtools
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check copyright notice
        run: |
          pip install \
            pre-commit \
            python-magic==0.4.18 \
            comment-parser>=1.2.3
          pre-commit run --all-files
